<h1>About Page</h1>
<div>
  Some of my favorite programming languages are:
  <ul id="wrapper">
      <li class="language">
        <h3>Ruby</h3>
        <%= image_tag 'js.jpg',
        alt: "JavaScript",
        width: "250",
        height: "250"
        %>
      </li>
      <li class="language">
        <h3>JavaScript</h3>
        <%= image_tag 'ruby.jpg',
        alt: "Ruby",
        width: "250",
        height: "250"
        %>
      </li>
      <li class="language">
        <h3>Python</h3>
        <%= image_tag 'python.jpg',
        alt: "Python",
        width: "250",
        height: "250"
        %>
      </li>
  </ul>
</div>

<%= link_to 'Home', root_path %>
