<div class="jumbotron center">
  <h1 class="display-4">Welcome to My Blog</h1>
  <hr class="my-4">
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= link_to 'Sign Up', '#', class: "btn btn-dark btn-lg", role: "button" %>
</div>
