<h1>My Home Page</h1>
<h2>My name is Alex Castillo</h2>
<%= image_tag 'me.jpeg',
alt: "alex-castillo",
width: "250",
height: "250"
%>
<p>
  I am a web development student at
  <a href="https://wyncode.co/" target="_blank">Wyncode Academy.</a>
</p>

<%= link_to 'About', about_path %>
